@page "/split"

@using Blazorme

<h3>SplitScreen</h3>

<!--Get screen size to display the split function at the correct size for the user-->

<style>
    a.button1 {
        border: 0.1em solid #000000;
        border-radius: 0.12em;
        box-sizing: border-box;
        color: #000000;
    }
        a.button1:hover {
            color: #FFFFFF;
            background-color: #000000;
        }
    .container-pane {
        padding: 70px 0;
        vertical-align: middle
    }
</style>

<div class="container-fluid border border-primary" style="text-align:center; width: 100%; height:600px">
    <Split>
        <SplitPane SizeInPercentage="33" MinSize="0">
            <Split Direction="@SplitDirection.Vertical" GutterSize="5">
                <SplitPane MinSize="0">
                    <div class="container-pane">
                        <a id="onePane" class="oi oi-plus btn button1" aria-hidden="true" @onclick="ShowPopup" style="border-radius:35%; padding:50px"></a>
                    </div>
                </SplitPane>
                <SplitPane MinSize="0">
                    <div class="container-pane">
                        <a id="twoPane" class="oi oi-plus btn button1" aria-hidden="true" @onclick="ShowPopup" style="border-radius:35%; padding:50px"></a>
                    </div>
                </SplitPane>
            </Split>
        </SplitPane>
        <SplitPane SizeInPercentage="33" MinSize="0">
            <Split Direction="@SplitDirection.Vertical" GutterSize="5">
                <SplitPane MinSize="0">
                    <div class="container-pane">
                        <a id="threePane" class="oi oi-plus btn button1" aria-hidden="true" @onclick="ShowPopup" style="border-radius:35%; padding:50px"></a>
                    </div>
                </SplitPane>
                <SplitPane MinSize="0">
                    <div class="container-pane">
                        <a id="fourPane" class="oi oi-plus btn button1" aria-hidden="true" @onclick="ShowPopup" style="border-radius:35%; padding:50px"></a>
                    </div>
                </SplitPane>
            </Split>
        </SplitPane>
        <SplitPane SizeInPercentage="33" MinSize="0">
            <Split Direction="@SplitDirection.Vertical" GutterSize="5">
                <SplitPane MinSize="0">
                    <div class="container-pane">
                        <a id="fivePane" class="oi oi-plus btn button1" aria-hidden="true" @onclick="ShowPopup" style="border-radius:35%; padding:50px"></a>
                    </div>
                </SplitPane>
                <SplitPane MinSize="0">
                    <div class="container-pane">
                        <a id="sixPane" class="oi oi-plus btn button1" aria-hidden="true" @onclick="ShowPopup" style="border-radius:35%; padding:50px"></a>
                    </div>
                </SplitPane>
            </Split>
        </SplitPane>
    </Split>
</div>

@if (imagePopup)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Select image </h3>
                    <!--Button to close the popup-->
                    <button type="button" class="close" @onclick="ClosePopup">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select class="form-control selectpicker">
                        <option>--Select--</option>
                        @*@foreach (var item in Item)
                        {
                            <option value="@item.id">@item.Name</option>
                        }*@
                    </select>
                </div>
            </div>
        </div>
    </div>
}


@code {
    bool imagePopup = false;

    void ClosePopup()
    {
        imagePopup = false;
    }

    void ShowPopup()
    {
        imagePopup = true;
    }
}
